/**
 * =============================================================================
 * ************   Grid 网格系统   ************
 * =============================================================================
 */
.mizu-container,
.mizu-container-fluid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 8px;
  padding-left: 8px;
}
.mizu-container::after,
.mizu-container-fluid::after {
  display: table;
  clear: both;
  content: '';
}
.mizu-container {
  width: 96%;
  max-width: 1280px;
}
@media (min-width: 600px) {
  .mizu-container {
    width: 94%;
  }
}
@media (min-width: 1024px) {
  .mizu-container {
    width: 92%;
  }
}
.mizu-row,
[class*="mizu-row-"] {
  margin-right: -8px;
  margin-left: -8px;
}
.mizu-row::after,
[class*="mizu-row-"]::after {
  display: table;
  clear: both;
  content: '';
}
[class*="mizu-col-xs-"],
[class*="mizu-col-sm-"],
[class*="mizu-col-md-"],
[class*="mizu-col-lg-"],
[class*="mizu-col-xl-"],
.mizu-col {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
}
/* 取消列间距 */
.mizu-row-gapless .mizu-col,
.mizu-row-gapless [class*="mizu-col-xs-"],
.mizu-row-gapless [class*="mizu-col-sm-"],
.mizu-row-gapless [class*="mizu-col-md-"],
.mizu-row-gapless [class*="mizu-col-lg-"],
.mizu-row-gapless [class*="mizu-col-xl-"] {
  padding-right: 0;
  padding-left: 0;
}
.mizu-row-gapless .mizu-row,
.mizu-row-gapless [class*="mizu-row-"] {
  margin-right: 0;
  margin-left: 0;
}
.mizu-col-xs-1 {
  float: left;
  width: 8.333333%;
}
.mizu-col-offset-xs-1 {
  margin-left: 8.333333%;
}
.mizu-row-xs-1 .mizu-col {
  float: left;
  width: 100%;
}
.mizu-col-xs-2 {
  float: left;
  width: 16.666667%;
}
.mizu-col-offset-xs-2 {
  margin-left: 16.666667%;
}
.mizu-row-xs-2 .mizu-col {
  float: left;
  width: 50%;
}
.mizu-col-xs-3 {
  float: left;
  width: 25%;
}
.mizu-col-offset-xs-3 {
  margin-left: 25%;
}
.mizu-row-xs-3 .mizu-col {
  float: left;
  width: 33.333333%;
}
.mizu-col-xs-4 {
  float: left;
  width: 33.333333%;
}
.mizu-col-offset-xs-4 {
  margin-left: 33.333333%;
}
.mizu-row-xs-4 .mizu-col {
  float: left;
  width: 25%;
}
.mizu-col-xs-5 {
  float: left;
  width: 41.666667%;
}
.mizu-col-offset-xs-5 {
  margin-left: 41.666667%;
}
.mizu-row-xs-5 .mizu-col {
  float: left;
  width: 20%;
}
.mizu-col-xs-6 {
  float: left;
  width: 50%;
}
.mizu-col-offset-xs-6 {
  margin-left: 50%;
}
.mizu-row-xs-6 .mizu-col {
  float: left;
  width: 16.666667%;
}
.mizu-col-xs-7 {
  float: left;
  width: 58.333333%;
}
.mizu-col-offset-xs-7 {
  margin-left: 58.333333%;
}
.mizu-row-xs-7 .mizu-col {
  float: left;
  width: 14.285714%;
}
.mizu-col-xs-8 {
  float: left;
  width: 66.666667%;
}
.mizu-col-offset-xs-8 {
  margin-left: 66.666667%;
}
.mizu-row-xs-8 .mizu-col {
  float: left;
  width: 12.5%;
}
.mizu-col-xs-9 {
  float: left;
  width: 75%;
}
.mizu-col-offset-xs-9 {
  margin-left: 75%;
}
.mizu-row-xs-9 .mizu-col {
  float: left;
  width: 11.111111%;
}
.mizu-col-xs-10 {
  float: left;
  width: 83.333333%;
}
.mizu-col-offset-xs-10 {
  margin-left: 83.333333%;
}
.mizu-row-xs-10 .mizu-col {
  float: left;
  width: 10%;
}
.mizu-col-xs-11 {
  float: left;
  width: 91.666667%;
}
.mizu-col-offset-xs-11 {
  margin-left: 91.666667%;
}
.mizu-row-xs-11 .mizu-col {
  float: left;
  width: 9.090909%;
}
.mizu-col-xs-12 {
  float: left;
  width: 100%;
}
.mizu-col-offset-xs-12 {
  margin-left: 100%;
}
.mizu-row-xs-12 .mizu-col {
  float: left;
  width: 8.333333%;
}
@media (min-width: 600px) {
  .mizu-col-sm-1 {
    float: left;
    width: 8.333333%;
  }
  .mizu-col-offset-sm-1 {
    margin-left: 8.333333%;
  }
  .mizu-row-sm-1 .mizu-col {
    float: left;
    width: 100%;
  }
  .mizu-col-sm-2 {
    float: left;
    width: 16.666667%;
  }
  .mizu-col-offset-sm-2 {
    margin-left: 16.666667%;
  }
  .mizu-row-sm-2 .mizu-col {
    float: left;
    width: 50%;
  }
  .mizu-col-sm-3 {
    float: left;
    width: 25%;
  }
  .mizu-col-offset-sm-3 {
    margin-left: 25%;
  }
  .mizu-row-sm-3 .mizu-col {
    float: left;
    width: 33.333333%;
  }
  .mizu-col-sm-4 {
    float: left;
    width: 33.333333%;
  }
  .mizu-col-offset-sm-4 {
    margin-left: 33.333333%;
  }
  .mizu-row-sm-4 .mizu-col {
    float: left;
    width: 25%;
  }
  .mizu-col-sm-5 {
    float: left;
    width: 41.666667%;
  }
  .mizu-col-offset-sm-5 {
    margin-left: 41.666667%;
  }
  .mizu-row-sm-5 .mizu-col {
    float: left;
    width: 20%;
  }
  .mizu-col-sm-6 {
    float: left;
    width: 50%;
  }
  .mizu-col-offset-sm-6 {
    margin-left: 50%;
  }
  .mizu-row-sm-6 .mizu-col {
    float: left;
    width: 16.666667%;
  }
  .mizu-col-sm-7 {
    float: left;
    width: 58.333333%;
  }
  .mizu-col-offset-sm-7 {
    margin-left: 58.333333%;
  }
  .mizu-row-sm-7 .mizu-col {
    float: left;
    width: 14.285714%;
  }
  .mizu-col-sm-8 {
    float: left;
    width: 66.666667%;
  }
  .mizu-col-offset-sm-8 {
    margin-left: 66.666667%;
  }
  .mizu-row-sm-8 .mizu-col {
    float: left;
    width: 12.5%;
  }
  .mizu-col-sm-9 {
    float: left;
    width: 75%;
  }
  .mizu-col-offset-sm-9 {
    margin-left: 75%;
  }
  .mizu-row-sm-9 .mizu-col {
    float: left;
    width: 11.111111%;
  }
  .mizu-col-sm-10 {
    float: left;
    width: 83.333333%;
  }
  .mizu-col-offset-sm-10 {
    margin-left: 83.333333%;
  }
  .mizu-row-sm-10 .mizu-col {
    float: left;
    width: 10%;
  }
  .mizu-col-sm-11 {
    float: left;
    width: 91.666667%;
  }
  .mizu-col-offset-sm-11 {
    margin-left: 91.666667%;
  }
  .mizu-row-sm-11 .mizu-col {
    float: left;
    width: 9.090909%;
  }
  .mizu-col-sm-12 {
    float: left;
    width: 100%;
  }
  .mizu-col-offset-sm-12 {
    margin-left: 100%;
  }
  .mizu-row-sm-12 .mizu-col {
    float: left;
    width: 8.333333%;
  }
}
@media (min-width: 1024px) {
  .mizu-col-md-1 {
    float: left;
    width: 8.333333%;
  }
  .mizu-col-offset-md-1 {
    margin-left: 8.333333%;
  }
  .mizu-row-md-1 .mizu-col {
    float: left;
    width: 100%;
  }
  .mizu-col-md-2 {
    float: left;
    width: 16.666667%;
  }
  .mizu-col-offset-md-2 {
    margin-left: 16.666667%;
  }
  .mizu-row-md-2 .mizu-col {
    float: left;
    width: 50%;
  }
  .mizu-col-md-3 {
    float: left;
    width: 25%;
  }
  .mizu-col-offset-md-3 {
    margin-left: 25%;
  }
  .mizu-row-md-3 .mizu-col {
    float: left;
    width: 33.333333%;
  }
  .mizu-col-md-4 {
    float: left;
    width: 33.333333%;
  }
  .mizu-col-offset-md-4 {
    margin-left: 33.333333%;
  }
  .mizu-row-md-4 .mizu-col {
    float: left;
    width: 25%;
  }
  .mizu-col-md-5 {
    float: left;
    width: 41.666667%;
  }
  .mizu-col-offset-md-5 {
    margin-left: 41.666667%;
  }
  .mizu-row-md-5 .mizu-col {
    float: left;
    width: 20%;
  }
  .mizu-col-md-6 {
    float: left;
    width: 50%;
  }
  .mizu-col-offset-md-6 {
    margin-left: 50%;
  }
  .mizu-row-md-6 .mizu-col {
    float: left;
    width: 16.666667%;
  }
  .mizu-col-md-7 {
    float: left;
    width: 58.333333%;
  }
  .mizu-col-offset-md-7 {
    margin-left: 58.333333%;
  }
  .mizu-row-md-7 .mizu-col {
    float: left;
    width: 14.285714%;
  }
  .mizu-col-md-8 {
    float: left;
    width: 66.666667%;
  }
  .mizu-col-offset-md-8 {
    margin-left: 66.666667%;
  }
  .mizu-row-md-8 .mizu-col {
    float: left;
    width: 12.5%;
  }
  .mizu-col-md-9 {
    float: left;
    width: 75%;
  }
  .mizu-col-offset-md-9 {
    margin-left: 75%;
  }
  .mizu-row-md-9 .mizu-col {
    float: left;
    width: 11.111111%;
  }
  .mizu-col-md-10 {
    float: left;
    width: 83.333333%;
  }
  .mizu-col-offset-md-10 {
    margin-left: 83.333333%;
  }
  .mizu-row-md-10 .mizu-col {
    float: left;
    width: 10%;
  }
  .mizu-col-md-11 {
    float: left;
    width: 91.666667%;
  }
  .mizu-col-offset-md-11 {
    margin-left: 91.666667%;
  }
  .mizu-row-md-11 .mizu-col {
    float: left;
    width: 9.090909%;
  }
  .mizu-col-md-12 {
    float: left;
    width: 100%;
  }
  .mizu-col-offset-md-12 {
    margin-left: 100%;
  }
  .mizu-row-md-12 .mizu-col {
    float: left;
    width: 8.333333%;
  }
}
@media (min-width: 1440px) {
  .mizu-col-lg-1 {
    float: left;
    width: 8.333333%;
  }
  .mizu-col-offset-lg-1 {
    margin-left: 8.333333%;
  }
  .mizu-row-lg-1 .mizu-col {
    float: left;
    width: 100%;
  }
  .mizu-col-lg-2 {
    float: left;
    width: 16.666667%;
  }
  .mizu-col-offset-lg-2 {
    margin-left: 16.666667%;
  }
  .mizu-row-lg-2 .mizu-col {
    float: left;
    width: 50%;
  }
  .mizu-col-lg-3 {
    float: left;
    width: 25%;
  }
  .mizu-col-offset-lg-3 {
    margin-left: 25%;
  }
  .mizu-row-lg-3 .mizu-col {
    float: left;
    width: 33.333333%;
  }
  .mizu-col-lg-4 {
    float: left;
    width: 33.333333%;
  }
  .mizu-col-offset-lg-4 {
    margin-left: 33.333333%;
  }
  .mizu-row-lg-4 .mizu-col {
    float: left;
    width: 25%;
  }
  .mizu-col-lg-5 {
    float: left;
    width: 41.666667%;
  }
  .mizu-col-offset-lg-5 {
    margin-left: 41.666667%;
  }
  .mizu-row-lg-5 .mizu-col {
    float: left;
    width: 20%;
  }
  .mizu-col-lg-6 {
    float: left;
    width: 50%;
  }
  .mizu-col-offset-lg-6 {
    margin-left: 50%;
  }
  .mizu-row-lg-6 .mizu-col {
    float: left;
    width: 16.666667%;
  }
  .mizu-col-lg-7 {
    float: left;
    width: 58.333333%;
  }
  .mizu-col-offset-lg-7 {
    margin-left: 58.333333%;
  }
  .mizu-row-lg-7 .mizu-col {
    float: left;
    width: 14.285714%;
  }
  .mizu-col-lg-8 {
    float: left;
    width: 66.666667%;
  }
  .mizu-col-offset-lg-8 {
    margin-left: 66.666667%;
  }
  .mizu-row-lg-8 .mizu-col {
    float: left;
    width: 12.5%;
  }
  .mizu-col-lg-9 {
    float: left;
    width: 75%;
  }
  .mizu-col-offset-lg-9 {
    margin-left: 75%;
  }
  .mizu-row-lg-9 .mizu-col {
    float: left;
    width: 11.111111%;
  }
  .mizu-col-lg-10 {
    float: left;
    width: 83.333333%;
  }
  .mizu-col-offset-lg-10 {
    margin-left: 83.333333%;
  }
  .mizu-row-lg-10 .mizu-col {
    float: left;
    width: 10%;
  }
  .mizu-col-lg-11 {
    float: left;
    width: 91.666667%;
  }
  .mizu-col-offset-lg-11 {
    margin-left: 91.666667%;
  }
  .mizu-row-lg-11 .mizu-col {
    float: left;
    width: 9.090909%;
  }
  .mizu-col-lg-12 {
    float: left;
    width: 100%;
  }
  .mizu-col-offset-lg-12 {
    margin-left: 100%;
  }
  .mizu-row-lg-12 .mizu-col {
    float: left;
    width: 8.333333%;
  }
}
@media (min-width: 1920px) {
  .mizu-col-xl-1 {
    float: left;
    width: 8.333333%;
  }
  .mizu-col-offset-xl-1 {
    margin-left: 8.333333%;
  }
  .mizu-row-xl-1 .mizu-col {
    float: left;
    width: 100%;
  }
  .mizu-col-xl-2 {
    float: left;
    width: 16.666667%;
  }
  .mizu-col-offset-xl-2 {
    margin-left: 16.666667%;
  }
  .mizu-row-xl-2 .mizu-col {
    float: left;
    width: 50%;
  }
  .mizu-col-xl-3 {
    float: left;
    width: 25%;
  }
  .mizu-col-offset-xl-3 {
    margin-left: 25%;
  }
  .mizu-row-xl-3 .mizu-col {
    float: left;
    width: 33.333333%;
  }
  .mizu-col-xl-4 {
    float: left;
    width: 33.333333%;
  }
  .mizu-col-offset-xl-4 {
    margin-left: 33.333333%;
  }
  .mizu-row-xl-4 .mizu-col {
    float: left;
    width: 25%;
  }
  .mizu-col-xl-5 {
    float: left;
    width: 41.666667%;
  }
  .mizu-col-offset-xl-5 {
    margin-left: 41.666667%;
  }
  .mizu-row-xl-5 .mizu-col {
    float: left;
    width: 20%;
  }
  .mizu-col-xl-6 {
    float: left;
    width: 50%;
  }
  .mizu-col-offset-xl-6 {
    margin-left: 50%;
  }
  .mizu-row-xl-6 .mizu-col {
    float: left;
    width: 16.666667%;
  }
  .mizu-col-xl-7 {
    float: left;
    width: 58.333333%;
  }
  .mizu-col-offset-xl-7 {
    margin-left: 58.333333%;
  }
  .mizu-row-xl-7 .mizu-col {
    float: left;
    width: 14.285714%;
  }
  .mizu-col-xl-8 {
    float: left;
    width: 66.666667%;
  }
  .mizu-col-offset-xl-8 {
    margin-left: 66.666667%;
  }
  .mizu-row-xl-8 .mizu-col {
    float: left;
    width: 12.5%;
  }
  .mizu-col-xl-9 {
    float: left;
    width: 75%;
  }
  .mizu-col-offset-xl-9 {
    margin-left: 75%;
  }
  .mizu-row-xl-9 .mizu-col {
    float: left;
    width: 11.111111%;
  }
  .mizu-col-xl-10 {
    float: left;
    width: 83.333333%;
  }
  .mizu-col-offset-xl-10 {
    margin-left: 83.333333%;
  }
  .mizu-row-xl-10 .mizu-col {
    float: left;
    width: 10%;
  }
  .mizu-col-xl-11 {
    float: left;
    width: 91.666667%;
  }
  .mizu-col-offset-xl-11 {
    margin-left: 91.666667%;
  }
  .mizu-row-xl-11 .mizu-col {
    float: left;
    width: 9.090909%;
  }
  .mizu-col-xl-12 {
    float: left;
    width: 100%;
  }
  .mizu-col-offset-xl-12 {
    margin-left: 100%;
  }
  .mizu-row-xl-12 .mizu-col {
    float: left;
    width: 8.333333%;
  }
}