/**
 * =============================================================================
 * ************   Switch 单选框   ************
 * =============================================================================
 */
.mizu-switch {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    user-select: none;
}

.mizu-switch input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

/* 图标轨道 */
.mizu-switch-icon {
    border: rgba(0, 0, 0, 0.5) solid 1.5px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    transition: all 0.15s ease, border-color 0.3s ease;
}

.mizu-switch-icon:hover{
    background: rgba(0, 0, 0, 0.1);
}

.mizu-switch-icon:active{
    background: rgba(0, 0, 0, 0.15);
}


.mizu-switch-icon::before {
    position: absolute;
    top: 3px;
    left: 3px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 20px;
    transition: all 0.15s ease, left 0.1s ease-in-out, width 0.1s ease-in-out, top 0.1s ease-in-out, height 0.1s ease-in-out;
    content: ' ';
}

.mizu-switch-icon:hover::before {
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
}

.mizu-switch-icon:active::before {
    width: 20px;
}

/* 选中状态的图标 */
.mizu-switch input[type="checkbox"]:checked+.mizu-switch-icon {
    background: rgb(38, 108, 136);
    border: rgba(0, 0, 0, 0) solid 1.5px;
}

.mizu-switch input[type="checkbox"]:hover:checked+.mizu-switch-icon {
    filter: brightness(1.1);
}
.mizu-switch input[type="checkbox"]:active:checked+.mizu-switch-icon {
    filter: brightness(1.2);
}

.mizu-switch input[type="checkbox"]:checked+.mizu-switch-icon::before {
    left: 23px;
    background: #fff;
}

.mizu-switch input[type="checkbox"]:checked+.mizu-switch-icon:hover::before {
    left: 22px;
}

.mizu-switch input[type="checkbox"]:checked+.mizu-switch-icon:active::before {
    left: 18px;
}